.mainContent {
  min-height: 100vh;
  background-color: hsl(210, 15%, 98%);  
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.heroSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 1000px) {
  .heroSection {
    flex-direction: column;
    align-items: center;
  }

  .features {
    margin-top: 50px;
  }

  .splashContainer {
    margin-top: 50px !important;
  }
}

.splashContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 250px
}

.splashText {
  font-size: 3em;
  text-align: center;
  animation: fadeIn 1s ease;
  margin-bottom: 50px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 700px;
}

.heroButton {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 2rem;
  color: white;
  background: hsl(210, 100%, 50%);  
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.heroButton:hover {
  background: hsl(210, 100%, 40%); 
  transform: translateY(-2px);
}

.fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}